.toggle-btn {
    background-color: #b7b9ba;
    border: 1px solid #aaa;
    border-radius: 99px;
    width: 25px;
    height: 14px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    cursor: pointer;
    position: relative;
}

.toggle-btn .thumb {
    height: 7px;
    width: 7px;
    background-color: #f0f3ee;
    border-radius: 99px;
    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left: 3px;
    top: 37%;
    transform: translateY(-30%);
}

.toggle-btn.toggled {
    background-color: #70ad47;
}

.toggled-btn:hover {
    border-color: #6f6f6f;
}

.toggle-btn.toggled .thumb {
    left: calc(38px - 25px);
}
