.bg-left-side {
  background-image: url('/Images/Imagebg.jpg');
  background-size: cover;
  background-position: center;
  position: relative; /* Ensure the pseudo-element is positioned correctly */
}

.bg-left-side::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1));
  pointer-events: none; /* Ensure it doesn't interfere with interactions */
}


  .gradient-btn {
    background: linear-gradient(to right, #348017, #175D5F);
  }

  .gradient-btn2 {
    background: linear-gradient(to right,#175D5F , #348017);
  }

  .gradient-btn3 {
    background: linear-gradient(to right,#70AD47 , #175D5F);
  }

  .gradient-btn4 {
    background: linear-gradient(to right,#1A73E8 , #70AD47);
  }

  .gradient-btn5 {
    background: linear-gradient(to right,#175D5f,#348017, #70AD47);
  }
  
  .gradient-btn2hover {
    background: linear-gradient(to right,#175D5f,#348017, #70AD47);
  }

  .gradient-btn2hover:hover{
    background: #d6e4d1;
  }
  .bglightgreen-btn{
    background:#70AD47;
    color:white;
  }

  .gradient-border {
    border: 4px solid black; 
    border-image: linear-gradient(to right, #348017, #175D5F) 1; 
    padding: 10px; 
    background-color: white; 
    border-radius: 10px;
    display: inline-block; 
  }

  .gradient-border2 {
    border: 4px solid black; 
    border-image: linear-gradient(to right,#175D5F ,  #348017) 1; 
    padding: 10px; 
    background-color: white; 
    border-radius: 10px;
    display: inline-block; 
  }

  .gradient-background1 {
    background: linear-gradient(to right, #70AD47 5%, #5B9BD5 130%);
  }

  .gradient-background2 {
    background: linear-gradient(to right, #F7F7F7, #D6E4D1);
  }

  .gradient-background3 {
    background: linear-gradient(to right, #175D5F 17%, #348017 70%, #70AD47 96%);
}

.gradient-border {
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 11px, transparent 11px) 0% 0%/13px 13px no-repeat,
  radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 11px, transparent 11px) 100% 0%/13px 13px no-repeat,
  radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 11px, transparent 11px) 0% 100%/13px 13px no-repeat,
  radial-gradient(circle at 0 0, #ffffff 0, #ffffff 11px, transparent 11px) 100% 100%/13px 13px no-repeat,
  linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 26px) no-repeat,
  linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 26px) calc(100% - 4px) no-repeat,
  linear-gradient(90deg, #3628b6 0%, #3fe50c 100%);
border-radius: 13px;
padding: 9px;
box-sizing: border-box;
}

.gradient-text {
  background: linear-gradient(to right, #175D5F, #a3e635); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.file-input {
  display: none;
}

.layout-container {
  overflow: hidden;
}

.property-layout-container {
  overflow-y: hidden;
}
.spinnerSize{
  width: 24px !important;
  height: 24px !important;
 
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-floating-label {
  display: block;
  width: 100%;
  appearance: none;
  
  background-color: white;
  padding: 1rem 0.625rem 0.625rem 0.625rem; 
  font-size: 0.875rem; 
  color: #175D5f; 
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.input-floating-label:focus {
  color: #175D5f; 
  outline: none;
  box-shadow: none; /* focus:ring-0 */
  font-size: 0.875rem; 
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  
}

.label-floating {
  position: absolute;
  left: 0.625rem; /* 2.5 in Tailwind */
  top: 1rem; /* adjusted for initial position */
  color: #175D5F; /* gray-500 */
  transition: all 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.input-floating-label:focus + .label-floating,
.input-floating-label:not(:placeholder-shown) + .label-floating {
  top: 0.2rem; /* 2 in Tailwind */ 
  font-size: 0.7rem; /* text-sm */
  color: #6b7280; /* blue-600 */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.custom-border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.input-floating-label:focus + .label-floating-custom-login,
.input-floating-label:not(:placeholder-shown) + .label-floating-custom-login {
  top: 0.3rem; /* 2 in Tailwind */ 
  font-size: 0.7rem; /* text-sm */
  color: #6b7280; /* blue-600 */
}

.label-floating-custom-login{
position: absolute;
left: 0.825rem; /* 2.5 in Tailwind */
top: .8rem; /* adjusted for initial position */
color: #6B7280; 
transition: all 0.3s ease-in-out;
}

input[type="radio"]:checked {
  background-color: #175d5f; /* This is for browsers that support background color */
  border-color: #175d5f;     /* This sets the radio button border color */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.custom-modal {
  border-radius: 15px;
}

.align-super {
  font-size: 0.65em; /* Adjust as needed */
  vertical-align: super; /* Use super for proper alignment */
}

.custom-checkbox:checked {
  background-color: #4ADE80; /* Your custom green color */
  border-color: #4ADE80; /* Match the border with the checkmark color */
}

.custom-checkbox:checked::after {
  content: '';
  width: 8px; /* Adjust width */
  height: 8px; /* Adjust height */
  background-color: white; /* Color of the checkmark */
  left: 2px; /* Adjust position */
  top: 2px; /* Adjust position */
  transform: rotate(45deg); /* Rotate to create a checkmark */
}

.custom-scrollbar::-webkit-scrollbar {
  height: 9px; /* Change the height for horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #348017; /* Customize the color */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Track background */
}

textarea {
  resize: none;
}
.shrink {
  transform: scale(0.87); /* Adjust the scale factor as needed */
}